/**
 * reset html tag
 * --------------------------------------------------
 */

body,
ol, ul, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, p, pre,
form, fieldset, legend, input, textarea, select, button,
blockquote, th, td, hr, article, aside, details,
figcaption, figure, header, footer, section, hgroup, menu, nav,
span, div, a {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-size: $font-base;
    font-family: $font-family-base;
    color: $black;
    background-color: $page-bg;
}

ol, ul, li {
    list-style: none outside none;
}

img {
    border: 0;
}

input, a, select, button, textarea {
    outline: none;

    &::-moz-focus-inner {
        border-color: transparent!important;
    }
}
input[type='button']{
    cursor: pointer;
    border:none;
}
/*
    设置 input 框 placeholder 的颜色
*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #989898;
    font-family:$font-family-base;
}
input::-moz-placeholder, textarea::-moz-placeholder {
　　color:#989898;
font-family:$font-family-base;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
　　color:#989898;
font-family:$font-family-base;
}
input::-o-input-placeholder, textarea::-o-input-placeholder {
　　color:#989898;
font-family:$font-family-base;
}

/*
    去除  Chrome 浏览器 input 框默认填充时的黄色背景
*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px white inset; 
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset; 
}


a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}

i{
    font-style: normal;
    display: inline-block;
}

b, strong{
    font-weight: normal;
}

.clearfix {
    clear: both;
}
.cursor{
    cursor: pointer;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.normal{ font-weight:normal;}
.none{ display:none;}
.fr{ float:right;}
.fl{ float:left;}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-50 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-45 {
    margin-bottom: 45px;
}
.mb-50 {
    margin-bottom: 50px;
}

.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-35 {
    margin-left: 35px;
}
.ml-40 {
    margin-left: 40px;
}
.ml-45 {
    margin-left: 45px;
}
.ml-50 {
    margin-left: 50px;
}

.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-35 {
    margin-right: 35px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-45 {
    margin-right: 45px;
}
.mr-50 {
    margin-right: 50px;
}

.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-45 {
    padding-top: 45px;
}
.pt-50 {
    padding-top: 50px;
}

.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-45 {
    padding-bottom: 45px;
}
.pb-50 {
    padding-bottom: 50px;
}

.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-25 {
    padding-left: 25px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-35 {
    padding-left: 35px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-45 {
    padding-left: 45px;
}
.pl-50 {
    padding-left: 50px;
}

.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-25 {
    padding-right: 25px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-35 {
    padding-right: 35px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-45 {
    padding-right: 45px;
}
.pr-50 {
    padding-right: 50px;
}